html,body{
    margin:0;
    height:100%;
    --nav-height:75px;
}
.nav-bar{
    /* width:auto; */
    max-width:400px;
    height:var(--nav-height);
    line-height: var(--nav-height);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    /* box-shadow:0 5px 15px rgba(0,0,0,0.1); */
    background:transparent;
    transition:0.5s;
}
.overflow-container{
    height:100%;
    width:100%;
    overflow:hidden;
}
.links{
    display:inline-block;
    width:0;
    transition:all 0.5s;
    overflow:hidden;
    background:#eee;
    flex-direction:row;
    line-height: var(--nav-height);
    border-radius:50px;
}
.open-nav.active + .links{
    width:calc(100% - var(--nav-height));
    border-radius:0;
    border-bottom-right-radius:50px;
}
.link{
    display:block;
    line-height: var(--nav-height);
    padding:0 30px;
    text-decoration: none;
    color:inherit;
    text-align:center;
    float:left;
    transition:0.3s;
    font-size:20px;
}
.link:hover{
    background:#ccc;
}
.open-nav{
    width:var(--nav-height);
    height:100%;
    background:#eee;
    border-radius:50%;
    padding:0 20px;
    border:0;
    float:left;
    outline:0;
    transition:0.5s;
}
.open-nav.active{
    background:#cecece;
    border-radius:0;
    border-top-left-radius:50px;
    /* border-bottom-left-radius:50px; */
}